.contact-section {
  background-color: #0c0c0c;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 80px 60px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}


.contact-left {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.sub-head{
  color: #6c6a6a;
}

.get{
  margin: 20px;
  padding-bottom: 40px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-self: center;
  
}


.contact-left h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.contact-video {
  width: 20.7rem;
  border-radius: 10px;
  border: 2px solid #444;
  outline: none;
}

/* Right side — info + map */
.contact-right {
  flex: 1;
  min-width: 300px;
}

.contact-right p {
  color: #bbb;
  line-height: 1.6;
  margin-bottom: 25px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.info-item h4 {
  color: #ffae00;
  margin-bottom: 5px;
}

.map-container iframe {
  border-radius: 10px;
  border: 2px solid #333;
}

/* Lower CTA banner */
.cta-banner {
  background-color: #1a1a1a;
  margin-top: 70px;
  padding: 60px 40px;
  border-radius: 10px;
  text-align: center;
}

.cta-text h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.cta-btn {
  background-color: #ffae00;
  color: #000;
  border: none;
  padding: 12px 28px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-btn:hover {
  background-color: #ffc400;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }
}


.bookkk{
  margin-left: 40%;
  display: flex;
  justify-content: center;
  align-self: center;
}

