.Big-section {
    padding: 0px;
    background-color: #2f2c2c;
    text-align: center;
}
.Category {
    font-size: 15px;
    margin: 1rem 0;
    color: #333;
}
.containerrr{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;
    margin:0px;
}
.section{
    display: grid;
    grid-template-columns: 1fr 4fr;

}
.Category{
    text-align: left;
    padding: 2%;
    padding-left: 8%
}
.Filter{
    text-align: left;
    padding: 8%;
    font-size: 14px;
    margin-bottom: 1rem;
    color: #333;
    background: #605a5a;
}
.container-section{
    text-align: left;
    padding: 0px;
    background: #544f4f;
}


.main-heading{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    color: #171313;
}
.main-para{
    font-size: 16px;
    margin-bottom: 1rem;
    color: #a9a8a8;
    
}
.panel-container{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
