.feedback-card {
  background: #0b0a09;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(135, 95, 19, 0.08);
  width: 400px;
  padding: 20px;
  text-align: left;
  transition: all 0.3s ease;
}

.feedback-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(237, 156, 5, 0.15);
}

.user{
  display: flex;
  align-items: center;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.feedback-text {
  font-size: 14px;
  color: #d8d0bb;
  margin-bottom: 15px;
  line-height: 1.3;
}

.feedback-name {
  font-size: 18px;
  font-weight: 600;
  color: #6b6b69;
  text-shadow: #2f2a0a 1px 1px 1px;
  margin-left: 5%;
}

.feedback-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px;
  background-color:242424;
}

