.allcontainer-nav {
    max-width: 100%;
    padding: 1rem 2rem;
    
    display:block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
}

.logo-brand a {
    margin-bottom: 1.5rem;
    display : flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-self: center;
    list-style: none;
    gap: 4rem;
    margin: 0;
    padding: 0;
}

nav ul li a {

    color: #ddcaca;
    text-transform: uppercase;
    text-shadow: #333 ;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f9c153;
}
